<!--<h1 class="h1 title">
  <div class="btn-group"  (click)=" goBack()">
       <button  class="btn btn-light" ><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
  </div>
  <span> Back</span>
</h1>-->

<div class="app">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 bg">
        <div class="btn-group"  (click)=" goBack()">
              <button  class="btn btn-light bui">Back</button>
          </div>
      </div>

      <div class="col-8 bg">
        <h1 class="h1 title" style="color: rgb(120, 178, 255)" align="center">
          <span>My Questionnaires</span>
        </h1>
      </div>

      <div class="col-2 bg">
          <div class="hint">
            <button type="button" class="btn"><i class="fa fa-question" style="color: #297bff"></i></button>
          </div>
            <div class="hide">Rate Yourself On A Scale Of 1 To 4, With 1 Being Most Likely And 4 Being The Least Likely. Go To Help For More Assistance</div>

          <button type="button" class="btn"><a class="help" href="https://scotty-crypto.github.io/523Clientsubsystem.html#ClientQuestionnaire " target="_blank">| Help</a></button>
      </div>
    </div>
      <hr class="hr1">
  </div>
  <br>
  <br>
  <div class="jumbotron jumbotron-fluid " *ngIf="ArrayOfQuestions.length !=0;else  No_Questionnaires">
    <div class="container ">
      <br>
  <div class="table-card card" *ngFor="let category of questionContainer; let i=index" >
    <h2>{{category.question}}</h2>

    <div class="alert alert-danger" role="alert" *ngIf="category.isNotCompleted">
      Question Is Not Complete
    </div>
    <table class="table">
      <thead>
        <tr>
          <td id="tour-table">Question</td>
          <td>Answer</td>

        </tr>
      <tbody>
          <tr *ngFor="let q of filterById(category.id);let position=index">
            <td >
                {{q.Question}}

            </td>
            <td *ngIf='arrayLengthCheck.length > 2; else elseblock'>

                <select matNativeControl #sel   required (change)="assignAnswerToArray(sel.value,i,position)">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
            </td>

            <ng-template #elseblock>
              <td >
                <select matNativeControl #sel   required (change)="assignAnswerToArray(sel.value,i,position)">
                  <option value="6">Yes</option>
                  <option value="5">No</option>

                </select>
            </td>
          </ng-template>


          </tr>
      </tbody>
    </table>
    <br>
  </div>
  </div>
  </div>
</div>

<div class="d-grid gap-2 card" *ngIf="ArrayOfQuestions.length !=0">
  <button class="btn btn-primary" type="button" (click)="submitQuestionnaire()">Complete Questionnaire</button>
</div>


<ng-template #No_Questionnaires>
  <div class="container p-3 my-3 bg-primary text-white" >
    <h1>NB</h1>
    <p>No Questionnaire Assigned Yet</p>
  </div>
</ng-template>
