<div class="app" align="center">
	<h1 class="h1 title" style="font-size: 300%;">
	  <i class="fas fa-home"></i>
	  <span>Reset Password</span>
	</h1> 

<div class="card col-md-6 mt-4 text-left mx-auto bg-light container" style="width: 30%">
	<br>
	<div class="app" align="center">
		<h1 class="h1 title" color = "blue"style="font-size: 300%;">
		  <!-- <i class="fas fa-home"></i> -->
		  <span>Reset Your Password Below:</span>
		</h1> 
	</div>	
	<br>	
	<div class="card-body">

    	<h4 class="card-title bg-secondary text-white btn-lg text-center btn-block">Reset Your Password</h4>

		<form [formGroup]="ResetForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
				<span class=""> Old Password </span>
				<div class="">
					<input type="password" name="passwordClient"  formControlName="old_password"   placeholder="Old password" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
					<div *ngIf="f.old_password.touched && f.old_password.invalid" class="alert alert-danger">
						<div *ngIf="f.old_password.errors.required"> Old Password Is Required</div>
						<div *ngIf="f.old_password.errors.passwordMatchValidator">New Password Cannot Be The Same As Old Password.</div>
					</div>
                </div>
			</div>

			<div class="form-group">
				<label for="password">New Password</label>
				<input
					formControlName="password"
					id="password"
					type="password"
					class="form-control">
				<div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
					<div *ngIf="f.password.errors.required">Password Is Required.</div>
				</div>
			</div>

			<div class="form-group">
				<label for="confirm_password">Confirm Password</label>
				<input
					formControlName="confirm_password"
					id="confirm_password"
					type="password"
					class="form-control">
				<div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
					<div *ngIf="f.confirm_password.errors.required">Password Is Required.</div>
					<div *ngIf="f.confirm_password.errors.confirmedValidator">New Password And Confirm Password Must Match.</div>
				</div>
			</div>


			<div class="form-group">
				<div class=" text-center">
					<button type="submit" class="btn btn-warning" [disabled]="ResetForm.valid==false">Submit</button>
				</div>
			</div>
			<button type="button" class="btn"><a class="help" href="https://scotty-crypto.github.io/521Accesssubsystem.html#Reset " target="_blank">Help?</a></button>
		</form>
	</div>
</div>
