

<div class="card col-md-6 mt-4 text-left mx-auto bg-light container">
	<div class="card-body">

    	<h4 class="card-title bg-secondary text-white btn-lg text-center btn-block">Reset your password</h4>

		<form [formGroup]="ResetForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
				<span class=""> Old Password </span>
				<div class="">
					<input type="password" name="passwordClient"  formControlName="old_password"   placeholder="create a password" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">

                </div>
			</div>

			<div class="form-group">
				<span class=""> New Password </span>
				<div class="">

					<input type="password" name="passwordClient"  formControlName="password"   placeholder="create a password" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
			</div>

			<div class="form-group">
				<span class="">Confirm new password </span>
				<div class="">
                    <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                    </div>
				</div>
			</div>


			<div class="form-group">
				<div class=" text-center">
					<button type="submit" class="btn btn-warning" [disabled]="ResetForm.valid==false">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
