
<div class="dashcards">
<div class="col">
  <div class="card" style="background-color: rgb(255, 255, 255)">
    <i class="fas fa-home"></i>
    <h2 class="card__title">ACCESS</h2>

  </div>
</div>

</div>


<div class="tab_container" style="padding-bottom: 20%;">
<input id="tab1" type="radio" name="tabs" checked routerLinkActive="active"   routerLink="./practitioners" (click)="Change(1)">
<label for="tab1"><i class="fa fa-code"></i><span>Practitioners </span></label>

<input id="tab2" type="radio" name="tabs" routerLinkActive="active" routerLink="./trainers" (click)="Change(2)">
<label for="tab2"><i class="fa fa-pencil-square-o"></i><span> Trainers </span></label>

<input id="tab3" type="radio" name="tabs" routerLinkActive="active"  routerLink="./trainees" (click)="Change(3)">
<label for="tab3"><i class="fa fa-pencil-square-o"></i><span> Trainees</span></label>



<section id={{content}} class="tab-content" style="padding-bottom: 20%;">

  <router-outlet></router-outlet>
</section>




</div>