.app-body {
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 255, 255);

}
button.mat-raised-button {
    margin: 4px;
  }

  section {
    padding: 18px;
    margin-bottom: 8px;
  }
.txt{
    color: rgb(2, 172, 233);
}
