<div class="app">




    <h1 class="h1 title">
      <i class="fas fa-home"></i>
      <span>Client Types</span>
    </h1>
    <div class="form-group">
      <input type="text" class="form-control mb-4" placeholder="Search" [(ngModel)]="query" id="listSearch">
    </div>
    <div>
      <button  (click)="AddClientType()"  class="btn btn-primary" >Add Client Type</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <td id="tour-table">Title</td>
          <td></td>
          <td></td>

        </tr>
      <tbody>
          <tr *ngFor="let type of clientTypes| filter: query">
            <td>{{type.ClientType_Name}}</td>

            <td>
              <button mat-flat-button color="primary" (click)="Maintain(type.ClientType_Name,type.ClientType_ID)"  class="btn" >Maintain</button>
            </td>
            <td>
              <button>
                <img src="https://img.icons8.com/color/48/000000/delete-sign--v1.png" (click)="delete(type.ClientType_ID)"/>
              </button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
