
<div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
        <div class="form-header">
            <h1>Forgot Password?</h1>
        </div>
        <div class="form-content">
            <h4>Please Enter The Email You Used To Sign In With</h4>
            <form  #myForm="ngForm"  (ngSubmit)="onSubmit(myForm.value)">
                <div class="form-group"><label for="username">Email</label><input type="text" id="username" ngModel name="Username" required="required" /></div>
                <div class="form-group"><button type="submit"  [disabled]="!myForm.valid">Request Password Reset</button></div>
            </form>

        </div>

        <mat-progress-bar mode="indeterminate" *ngIf="Spinner"></mat-progress-bar>
        <div style="padding-top: 5%;">
          <h3 > <a [routerLink]="['../Welcome']" routerLinkActive="active">DON'T HAVE AN ACCOUNT? REGISTER HERE</a></h3>
          <button type="button" class="btn"><a class="help" href="https://scotty-crypto.github.io/521Accesssubsystem.html#Forgot " target="_blank">Help?</a></button>
        </div>
    </div>
    <div class="form-panel two"></div>

    <h3 class="h3 title">
        <div class="btn-group"  (click)=" goBack()">
             <button  class="btn btn-light bui" >Back</button>
        </div>
        <!--<span> Previous Page </span>-->
      </h3>

  </div>



