<div class="container-fluid">
    <div class="row">
      <div class="col-2 bg">
        <h1 class="h1 title">
          <div class="btn-group"  (click)=" goBack()">
              <button  class="btn btn-light bui">Back</button>
          </div>
        </h1>
      </div>
      <div class="col-8 bg">
        <h1 class="h1 title" style="font-size: 300%; text-align:center">
          Trial Questionnaire
        </h1>
      </div>

      <div class="col-2 bg">
          <div class="hint">
            <button type="button" class="btn"><i class="fa fa-question" style="color: #297bff"></i></button>
          </div>
            <div class="hide">Rate Yourself On A Scale From 1 To 4, 
      With 1 Being The Most Likely And 4 Being The Least Likely</div>
      
          <button type="button" class="btn"><a class="help" href="https://scotty-crypto.github.io/523Clientsubsystem.html#Trial " target="_blank">| Help</a></button>
      </div>
    </div>
    <hr class="hr1">
</div>

<h1>Which Puppy Would You Adopt Or Take Home?</h1>
  
<div class="table">
  <tr >
    <td>
      <button class="btn pick "><img src="assets/DogA.jpg" alt="Dog A" id="1" style="width:70%"></button>
    </td>

    <td>
      <button class="btn pick "><img src="assets/DogB.jpg" alt="Dog B" id="2" style="width:70%"></button>
    </td>
  </tr>

  <tr>
    <td>
      <button class="btn pick "><img src="assets/DogC.jpg" alt="Dog C" id="3" style="width:70%"></button>
    </td>
    <td>
      <button class="btn pick "><img src="assets/DogD.jpg" alt="Dog D" id="4" style="width:70%"></button>
    </td>
  </tr>

  </div>

  <!--<div class="app" align="center"> 
    <table>
      <thead>
        <tr><td> I describe myself as: </td></tr>
        <tr><td>1. I always think of everyone else and forget about myself</td>
        <td>1</td></tr>
        <tr><td>2. People must not touch my things</td>
          <td>2</td></tr>
        <tr><td>3. I love surprises and enjoy being spontaneous</td>
          <td>3</td></tr>   
        <tr><td>4. I am reserved and self controlled</td>
          <td>4</td></tr>
        <br>
        <tr><td> How do I interact with people: </td></tr>
        <tr><td>5. I am sensitive to people's feelings and often take things personally</td>
          <td>1</td></tr>
        <tr><td>6. I get irritated easily with people</td>
          <td>2</td></tr>
        <tr><td>7. People's success stories motivate me</td>
          <td>3</td></tr>   
        <tr><td>8. I have one or two special friends</td>
          <td>4</td></tr>
      </thead>

    </table>
  </div>-->
