<app-pre-loader *ngIf="isLoaded">

</app-pre-loader>

<ng-container *ngIf="!isLoaded">


<head>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://sscol.jebal.comuv.com/css/font.css">
</head>
<body>

  <div class="ribbon"style="padding-top: 2%;"></div>
  <div class="form">

    <div class="form-panel one" >
      <div class="form-header">
        <h1>Join as</h1>
        </div>

        <div class="form-group">

          <button   [routerLink]="['../register/1']" routerLinkActive="active" >CLIENT</button>
        </div>


        <div class="form-group">

          <button
          [routerLink]="['../register/2']"
          routerLinkActive="active"
          style="background-color: white; color: #297bff;">PRACTITIONER</button>
        </div>



        <div class="form-group">

          <button
          [routerLink]="['../register/3']"
          routerLinkActive="active"
          >TRAINER</button>
        </div>
        <div class="form-group">

          <button  [routerLink]="['../register/4']"
          routerLinkActive="active"
          style="background-color: white; color: #297bff;">TRAINEE</button>
        </div>
    </div>
  </div>


      <div class="form">
        <div class="form-panel one" style="padding-top: 5%;">
          <div class="form-group">
            <button   [routerLink]="['../login']" routerLinkActive="active" >Login</button>
          </div>

        </div>

        <div class="alert alert-light alert-dismissible fade show" role="alert">
          <button type="button" onclick="window.location='https://tsingarum.wixsite.com/website'" class="btn btn-light" style="color:#297bff">Learn more about us!</button>

        </div>
      </div>

  <br><br>
</body>

</ng-container>


