@import "src/app/shared/utils/table.scss";
.mat-card {
    background: rgba(255, 255, 255, 0.568);
    color:rgb(0, 170, 255);
    border-radius: 25px;
}

.example-full-width {
    width: 80%;
    color: black;

  }
  .example-card {
    max-width: 400px;
    border-radius: 25px;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .blue{
    background-color: rgb(155, 210, 255);
  }
  .white{
    background-color: rgb(255, 255, 255);
  }

  :root {
    --radius: 2px;
    --baseFg: dimgray;
    --baseBg: white;
    --accentFg: #006fc2;
    --accentBg: #bae1ff;
  }
  .theme-construction {
    --radius: 0;
    --baseFg: white;
    --baseBg: black;
    --accentFg: black;
    --accentBg: orange;
  }
  //dropdown
  select {
    font: 400 12px/1.3 sans-serif;
    -webkit-appearance: none;
    appearance: none;
    color: var(--baseFg);
    border: 1px solid var(--baseFg);
    line-height: 1;
    outline: 0;
    padding: 0.65em 2.5em 0.55em 0.75em;
    border-radius: var(--radius);
    background-color: var(--baseBg);
    background-image: linear-gradient(var(--baseFg), var(--baseFg)),
      linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
      linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;
  }

  select:hover {
    background-image: linear-gradient(var(--accentFg), var(--accentFg)),
      linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
  }

  select:active {
    background-image: linear-gradient(var(--accentFg), var(--accentFg)),
      linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
    color: var(--accentBg);
    border-color: var(--accentFg);
    background-color: var(--accentFg);
  }

  .hide {
    display: none;
  }
  .hint {
    display: inline;
  }

  .help {
    display: inline;
    float: right;
  }
      
  .hint:hover + .hide {
    display: inline;
    min-width: 250px;
    margin-left: -125px;
    background-color: #297bff;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 20%;
    font-size: 17px;
  }

  .bui {
    background-color: #297bff;
    color: #fff;
    font-size: large;
    padding: 10px 24px;
  }
  .hr1 {
    border: 0;
    height: 4px;
    background: #095484;
    background-image: linear-gradient(to right, #ccc, #092c64, #ccc);
  }