<h1 class="h1 title">
  <div class="btn-group"  (click)=" goBack()">
       <button  class="btn btn-light" ><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
  </div>
  <span> Back</span>
</h1>
<div class="app">

  <div class="table-card">
    <h1 class="h1 title">
      <i class="fas fa-home"></i>
      <span>My Tasks</span>
    </h1>
    <table class="table">
      <thead>
        <tr>
          <td id="tour-table">Description</td>
          <td>Due Date</td>
          <td>Practitioner</td>
          <td>Task type</td>
          <td>Action</td>
        </tr>
      <tbody>
          <tr *ngFor="let Task of Tasks">
            <td >{{Task.Description}}</td>
            <td >{{Task.DueDate |date }}</td>
            <td >{{Task.Practitioner  }}</td>
            <td >{{Task.TaskType  }}</td>
            <td>
              <a (click)="CompleteTask(Task.Task_ID,Task.TaskType)" class="btn-gradient blue mini">Complete Task</a>
            </td>
          </tr>
      </tbody>
    </table>
  </div>

  <br>
  <br>
  <div class="table-card FeedbackTable" style="padding-top: 5%;" *ngIf="this.isExisting">
    <h1 class="h1 title">
      <i class="fas fa-home"></i>
      <span> Feedback From Practitioner</span>
    </h1>
    <table class="table FeedbackTable">
      <thead>
        <tr>
          <td id="tour-table"> Task Description</td>
          <td>Practitioner</td>
          <td>Client Task</td>
          <td>Feedback</td>
        </tr>
      <tbody>
          <tr *ngFor="let Task of Feedbacks">
            <td >{{Task.Description}}</td>
            <td >{{Task.Practitioner  }}</td>
            <td >{{Task.TaskDescription  }}</td>
            <td >{{Task.Feedback  }}</td>
          </tr>
      </tbody>
    </table>
  </div>

</div>
