<div class="app">
  <h1 class="h1 title">
    <i class="fas fa-home"></i>
    <span>Tasks </span>
  </h1>

  <div class="table-card">
    <h1 class="h1 title">
      <i class="fas fa-home"></i>
      <span>My Tasks</span>
    </h1>
    <table class="table">
      <thead>
        <tr>
          <td id="tour-table">Description</td>
          <td>Due Date</td>
          <td>Practitioner</td>
          <td>Task type</td>
          <td>Action</td>
        </tr>
      <tbody>
          <tr *ngFor="let Task of Tasks">
            <td >{{Task.Description}}</td>
            <td >{{Task.DueDate |date }}</td>
            <td >{{Task.Practitioner  }}</td>
            <td >{{Task.TaskType  }}</td>
            <td>
              <a (click)="CompleteTask(Task.Task_ID,Task.TaskType)" class="btn-gradient blue mini">Complete Task</a>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
