<h1 class="h1 title">
  <div class="btn-group"  (click)=" goBack()">
      <button  class="btn btn-light bui">Back</button>
  </div>
</h1>
<p>
  Performance works!
</p>



<div class="jumbotron jumbotron-fluid">
  <div class="container"></div>

  <button class="btn blue block" (click)="Request()">Request</button>
</div>
<br>
<div class="card container" style="width: 100%" *ngIf="isRequested && Trainee != null; else other_content" >
  <div class="card-body">
    <h1 class="display-4">The FICS Corp Presents:</h1>
    <h3>Trainee Performance Report</h3>
    <div class="d-flex justify-content-center" >
      ...
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Fluid jumbotron</h1>
          <div class="container">
            <div class="row lead">
              <div class="col">
               Trainee Name:
              </div>
              <div class="col">
                {{Trainee.TraineeName}}
               </div>
            </div>
            <div class="row lead">
              <div class="col">
                Trainer Name:
              </div>
              <div class="col">
                {{Trainee.Trainer}}
               </div>
            </div>
            <div class="row lead">
              <div class="col">
              Assignment Assigned:
              </div>
              <div class="col">
                {{Trainee.AssignmentsAssigned}}
               </div>
            </div>
            <div class="row lead">
              <div class="col">
                Assignments Completed:
              </div>
              <div class="col">
                {{Trainee.AssignmentsCompleted}}
               </div>
            </div>
            <div class="row lead">
              <div class="col">
                Assignment sSubmitted:
              </div>
              <div class="col">
                {{Trainee.AssignmentsSubmitted}}
               </div>
            </div>
            <div class="row lead">
              <div class="col">
                <div class="card">
                  <h3>Conclusions</h3>
                  {{Trainee.Conclusion1}} <br>
                  {{Trainee.Conclusion2}} <br>
                </div>

              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-pre-loader  *ngIf="isLoading"></app-pre-loader>

<ng-template class="wrapper" #other_content >
  <div class="card container"  *ngIf="isRequested">
    <div class="card-body" >
      <h1 class="display-4" >Trainee Performance Report Has not yet been published</h1>
      </div>
  </div>


</ng-template>




