<div class="app">




  <h1 class="h1 title">
    <div class="btn-group"  (click)=" goBack()">
         <button  class="btn btn-light" ><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
    </div>
    <span> Exit Waivers </span>
  </h1>
  <div class="form-group">
    <div class="searchbox">
      <button class="btn-menu">
        <img src="https://img.icons8.com/cute-clipart/24/000000/top-menu.png">
      </button>
      <input id="search" type="text" placeholder="Search..." name="search" class="search" [(ngModel)]="searchText"
        #searchbar>
    </div>
  </div>
  <br>
  <table class="table" id="excel-table">
    <thead>
      <tr>
        <td scope="col"> Date of upload</td>
        <td scope="col"> Document type</td>
        <td scope="col"> Document</td>
        <td scope="col">actions </td>

      </tr>
    <tbody>
      <tr *ngFor="let file of fileUploads|cpDocFilter: searchText">
        <td data-label="physical address">{{file.Date | date}}</td>
        <td data-label="Description">{{file.type}}</td>

        <td data-label="Category"><a href="{{file.Url}}">{{file.Name}}</a></td>
        <td data-label="Plan">
          <!-- <button class="slide" (click)="DeleteDocument(file.id,file.Url,file.Name)"mat-raised-button matTooltip="Press to delete document" matTooltipPosition='above' >Remove</button> -->
        </td>
      </tr>
      <tr *ngIf="fileUploads.length==0">
        <td>No Files available</td>
        <td>No Files available</td>
        <td>No Files available</td>
        <td>No Files available</td>
      </tr>

    </tbody>
  </table>
</div>