
<div class="app">

  <div class="table-card">

    <h1 class="h1 title">
      <i class="fas fa-home"></i>
      <span>Session Types</span>
    </h1>

    <div>
      <button  (click)="AddType()"  class="btn-gradient blue mini"  >Add SessionType Type</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <td>Session Type Name</td>
          <td>Description</td>
          <td>Action</td>

        </tr>
      <tbody>
          <tr *ngFor="let type of SessionTypeTypes">
            <td>{{type.Name}}</td>
            <td>{{type.Description}}</td>

            <td>
              <button class="btn-gradient blue mini" (click)="Maintain(type,type.SessionType_ID)"  >Maintain</button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>