<div class="app">
  <h1 class="h1 title">
    <span></span>
  </h1>

  <div class="table-card">
    <h1 class="h1 title">
      <span>Trainee Requests</span>
    </h1>

    <table class="table">
      <thead>
        <tr>
          <td id="tour-table">Title</td>
          <td>Name</td>
          <td>Surname</td>
          <td>Email Address</td>
          <td>Action</td>
          <td>Action</td>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let trainee of trainees">
          <td>{{ trainee.Title }}</td>
          <td>{{ trainee.Name }}</td>
          <td>{{ trainee.Surname }}</td>
          <td>{{ trainee.Email_Address }}</td>
          <td>
            <input type="button" (click)="AcceptOrReject(trainee, 1)" class="btn-gradient blue" value="Accept" />
          </td>
          <td>
            <input type="button" (click)="AcceptOrReject(trainee, 0)" class="btn-gradient red" value="Reject" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>