<header class="container">
  <h1 style="color:blue"  class="title" >Assign Practitioner To The Client</h1>

</header>

<main>
  <header class="container" *ngIf="isSelected[0] && isSelected[1] && isClosed">
    <a class="btn-gradient blue block" (click)="AssignPractitioner()">Assign</a>

  </header>

  <div class="col">
    <a class="card card-1 stacked--up-left">
      <h2 class="title">Practitioners</h2>
      <div class="content">
        <h4> Select a Practitioner</h4>
        <ng-multiselect-dropdown style="width: 40%; z-index: +1" [placeholder]="'practitioners'"
          [settings]="dropdownSettingsPractitioner" [data]="PractitionerList" (onSelect)="onItemSelectP($event)"
          (onDropDownClose)="onDropDownClose()">

        </ng-multiselect-dropdown>
      </div>
    </a>
  </div>

  <div class="col">
    <a class="card card-1 stacked--up-right">
      <h2 class="title">Clients</h2>
      <div class="content">
        <h4> Select a client</h4>
        <ng-multiselect-dropdown style="width: 40%; z-index: +1" [placeholder]="'clients'" [settings]="dropdownSettings"
          [data]="ClientList" (onSelect)="onItemSelectC($event)" (onDropDownClose)="onDropDownClose(2)">

        </ng-multiselect-dropdown>
      </div>
    </a>
  </div>


  




</main>