<div class="wrapper">
  <div class="Grid Grid--full u-textCenter">

    <div class="Grid-cell">
       <mat-card   *ngIf="!isReschedule"><h1>SET AVAILABILITY TIME</h1></mat-card>
       <mat-card  *ngIf="isReschedule"><h1>RESCHEDULE AVAILABILITY TIME</h1></mat-card>
     </div>

  </div>

</div>
<br>

<div class="Grid Grid--gutters Grid--cols-2 u-textCenter">
  <div class="Grid-cell">
      <div class="example-full-width" appearance="fill">
        <mat-card class="demo-inline-calendar-card">
          <mat-card-title>
            Select a Date
          </mat-card-title>
          <br>
          <mat-calendar   [minDate]="minDate"  (selectedChange)="getDateAvailableDate($event)" style="background-color: rgb(1, 134, 230);"></mat-calendar>
        </mat-card>
      </div>

  </div>
  <div class="Grid-cell">

      <div class="example-full-width" appearance="fill">


        <mat-card class="demo-inline-calendar-card" >
          <mat-card-title>
            Choose your availability  Time
          </mat-card-title>

        <div *ngIf="isDateChosen && !isReschedule">
                  <div  *ngFor="let slots of TimeSlots | slice:0:show; let i = index" >
                    <mat-card  [ngClass]="slots.isChosen? 'blue' : 'white'" (click)="ChooseSession(slots.TimeSlot_ID,i)" >
                      {{slots.StartTime}} - {{slots.EndTime}}

                  </mat-card>
                  <br>
              </div>


          <button type="button"   class="btn btn-warning" *ngIf="show < TimeSlots.length && !isReschedule" (click)="increaseShow()">View More... </button>
        </div>
        <mat-card *ngIf="isDateChosen && isReschedule">

              <mat-form-field appearance="fill" style="color: rgb(255, 255, 255);background-color: rgb(11, 157, 255); width: 100%">
                <mat-select

                  panelClass="select-css"
                >
                  <mat-option value="" selected></mat-option>
                  <mat-option *ngFor="let slots of TimeSlots; let i = index" (click)="ChooseSession(slots.TimeSlot_ID,i)">
                    {{slots.StartTime}} - {{slots.EndTime}}
                  </mat-option>
                  <br>
                </mat-select>
              </mat-form-field>

        </mat-card>
        </mat-card>
      </div>
    </div>
  </div>
  <br>

  <br>
  <mat-card class="example-full-width" style="background-color: white; width: 100%;">
    <div class="alert alert-danger" role="alert" *ngIf="!isComplete">
      <kbd>Error!</kbd>
          <samp> Please assign time for the date</samp>
    </div>
    <div class="Grid Grid--gutters Grid--cols-2 u-textCenter">
      <div class="Grid-cell">
        <button mat-flat-button color="primary" (click)="SetTimes()">Confirm</button>
      </div>
      <div class="Grid-cell">
         <button mat-flat-button color="warn"  [routerLink]="['../../dashboard']" routerLinkActive="active">Cancel</button>
      </div>
    </div>
  </mat-card>