<div class="container-fluid">
    <div class="row">
      <div class="col-2 bg">
        <h1 class="h1 title">
          <div class="btn-group"  (click)=" goBack()">
              <button  class="btn btn-light bui">Back</button>
          </div>
        </h1>
      </div>
      <div class="col-8 bg">
        <h1 class="h1 title" style="color: rgb(120, 178, 255)" align="center">
          Send Feedback
        </h1>
      </div>

      <div class="col-2 bg">
          <div class="hint">
            <button type="button" class="btn"><i class="fa fa-question" style="color: #297bff"></i></button>
          </div>
            <div class="hide">Select The Button To  Give Feedback</div>
      
          <button type="button" class="btn"><a class="help" href="https://scotty-crypto.github.io/524Trainersubsystem.html#TrainerFeedback " target="_blank">| Help</a></button>
      </div>
    </div>
    <hr class="hr1">
  </div>
<div class="container jumbotron jumbotron-fluid" style="width: 100%;max-width:100%">


  <div class="row">
    <h1 style=" font-family: 'Montserrat', sans-serif; color:cornflowerblue">Tasks Needing Feedback</h1>
    <div class="col-md-9">
      <div class="CriticalActions">
          <div class="d-flex"> <!--CardGroup -->
            <div class="commitment-task-card" *ngFor="let task of Tasks"   >
              <div class="commitment-task-card-header">
                <h4 class="commitment-task-card-title">
                  <span class="commitment-task-type">Task Type {{task.TaskType}}</span>

                </h4>
                <h4 class="commitment-task-due-date">Client: {{task.Client}}</h4>
              </div>
              <div class="commitment-task-card-body">
                <div class="alert alert-success" role="alert">
                  <span class="badge badge-warning" style="color:blue">Status:</span>
                  {{task.TaskStatus}}
                </div>
              </div>
              <div class="commitment-task-card-body">

                <div class="alert alert-success" role="alert">
                  <span class="badge badge-warning" style="color:blue">Description:</span>
                  {{task.TaskDescription}}
                </div>
              </div>
              <div class="commitment-task-card-footer">
                <a href="#" class="btn btn-link commitment-help-link">Need Help?</a>
                <button href="#" class="btn btn-default btn-primary btn-xs" (click)="SendFeedBack(task.Task_ID)" >Give Feedback</button>

              </div>
            </div>

          </div> <!--CardGroup -->
      </div>
    </div>
  </div>
</div>