<div class="app">


  <div class="table-card">
    <h1 class="h1 title">
      <span>Trainer Access</span>
    </h1>
    <div class="form-group">
      <input type="text" class="form-control mb-4" placeholder="Search" [(ngModel)]="query" id="listSearch">
    </div>
    <table class="table">
      <thead>
        <tr>
          <td id="tour-table">Title</td>
          <td>Name</td>
          <td>Surname</td>
          <td>Email Address</td>
          <td></td>

        </tr>
      <tbody>
          <tr *ngFor="let trainer of trainers | Accessfilter: query">
            <td>{{trainer.Title}}</td>
            <td>{{trainer.Name}}</td>
            <td>{{trainer.Surname}}</td>
            <td>{{trainer.Email_Address}}</td>
            <td>
              <input type="button"   (click)="DisableTrainer(trainer.Trainer_ID)"   class="btn-gradient red" value="Disable" >

            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
