<div class="app">




  <h1 class="h1 title">
    <div class="btn-group"  (click)=" goBack()">
         <button  class="btn btn-light" ><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
    </div>
    <span> Audit Trial </span>
  </h1>
  <div class="form-group">
    <input type="text" class="form-control mb-4" placeholder="Search" [(ngModel)]="query" id="listSearch">
  </div>
  <div>
    <button  (click)="Export()"  class="btn btn-primary" >Export to Excel<img src="https://img.icons8.com/color/48/000000/export-excel.png"/></button>
  </div>
  <table class="table" id="excel-table">
    <thead>
      <tr>
        <td>User ID</td>
        <td>Date</td>
        <td>Description</td>
        <td>Log History</td>

      </tr>
    <tbody>
        <tr *ngFor="let audit of AuditLog">
          <td>{{audit.User_ID}}</td>
          <td>{{audit.Date_Log |date}}</td>
          <td>{{audit.Description}}</td>
          <td>{{audit.Log_History}}</td>



        </tr>
    </tbody>
  </table>
</div>
