<!-- <h1 class="h1 title">
    <i class="fas fa-home"></i>
    <span>Dashboard</span>
  </h1>


  <div  *ngIf="Role==2">

    <div class="dashcards">
      <div class="col">
        <div class="card">
          <i class="fas fa-home"></i>
          <h5 class="card__subtitle"   >Sessions</h5>
          <h2 class="card__title"><a [routerLink]="['Sessions']" routerLinkActive="active" >Link</a></h2>
          <p class="card__extra">Simple Information</p>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <i class="fas fa-home"></i>
          <h5 class="card__subtitle">Subtitle</h5>
          <h2 class="card__title">Title</h2>
          <p class="card__extra">Simple Information</p>
        </div>
      </div>
      <div class="col">
        <div class="card" id="tour-card">
          <i class="fas fa-home"></i>
          <h5 class="card__subtitle">Subtitle</h5>
          <h2 class="card__title">Title</h2>
          <p class="card__extra">Simple Information</p>
        </div>
      </div>
    </div>
    <div class="dashcards">
      <div class="col">
        <div class="card">
          <i class="fas fa-home"></i>
          <h5 class="card__subtitle">Subtitle</h5>
          <h2 class="card__title">Title</h2>
          <p class="card__extra">Simple Information</p>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <i class="fas fa-home"></i>
          <h5 class="card__subtitle">Subtitle</h5>
          <h2 class="card__title">Title</h2>
          <p class="card__extra">Simple Information</p>
        </div>
      </div>
      <div class="col">
        <div class="card" id="tour-card">
          <i class="fas fa-home"></i>
          <h5 class="card__subtitle">Subtitle</h5>
          <h2 class="card__title">Title</h2>
          <p class="card__extra">Simple Information</p>
        </div>
      </div>
    </div>


  </div> -->


  <h1 class="h1 title">
    <i class="fas fa-home"></i>
    <span>Dashboard</span>
  </h1>
  <div class="cards">

    <div *ngFor="let dashboard of DashboardSettings" style="display:inline;">
      <div class="card">
        <div class="card__image-holder">
          <img class="card__image" src="{{dashboard.ImageLink}}" alt="wave" />
        </div>
        <div class="card-title" >
          <a href="#" class="toggle-info btnn" [ngStyle]="{'background-color':dashboard.color}">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
            {{dashboard.Header_Name}}
              <small><mat-icon>{{dashboard.icon}}</mat-icon></small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">

          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a  [routerLink]="[dashboard.RouterLink]" routerLinkActive="active"class="btnn">{{dashboard.Button_Name}}</a>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>



