<h1 class="h1 title">
    <i class="fas fa-home"></i>
    <span>Dashboard</span>
  </h1>


  <div  *ngIf="Role==2">

    <div class="dashcards">
      <div class="col">
        <div class="card">
          <i class="fas fa-home"></i>
          <h5 class="card__subtitle">Subtitle</h5>
          <h2 class="card__title">Title</h2>
          <p class="card__extra">Simple Information</p>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <i class="fas fa-home"></i>
          <h5 class="card__subtitle">Subtitle</h5>
          <h2 class="card__title">Title</h2>
          <p class="card__extra">Simple Information</p>
        </div>
      </div>
      <div class="col">
        <div class="card" id="tour-card">
          <i class="fas fa-home"></i>
          <h5 class="card__subtitle">Subtitle</h5>
          <h2 class="card__title">Title</h2>
          <p class="card__extra">Simple Information</p>
        </div>
      </div>
    </div>
    <div class="dashcards">
      <div class="col">
        <div class="card">
          <i class="fas fa-home"></i>
          <h5 class="card__subtitle">Subtitle</h5>
          <h2 class="card__title">Title</h2>
          <p class="card__extra">Simple Information</p>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <i class="fas fa-home"></i>
          <h5 class="card__subtitle">Subtitle</h5>
          <h2 class="card__title">Title</h2>
          <p class="card__extra">Simple Information</p>
        </div>
      </div>
      <div class="col">
        <div class="card" id="tour-card">
          <i class="fas fa-home"></i>
          <h5 class="card__subtitle">Subtitle</h5>
          <h2 class="card__title">Title</h2>
          <p class="card__extra">Simple Information</p>
        </div>
      </div>
    </div>


  </div>