<div class="container-fluid">
    <div class="row">
      <div class="col-2 bg">
        <h1 class="h1 title">
          <div class="btn-group"  (click)=" goBack()">
              <button  class="btn btn-light bui">Back</button>
          </div>
        </h1>
      </div>
      <div class="col-8 bg">
        <h1 class="h1 title"  align="center">
          Clients
        </h1>
      </div>

      <div class="col-2 bg">
          <div class="hint">
            <button type="button" class="btn"><i class="fa fa-question" style="color: #297bff"></i></button>
          </div>
            <div class="hide">List Of All Clients</div>
      
          <button type="button" class="btn"><a class="help" href="https://scotty-crypto.github.io/522Adminsubsystem.html#ClientList " target="_blank">| Help</a></button>
      </div>
    </div>
    <hr class="hr1">
  </div>

<div class="app">
  <div class="table-card">
    
    <div class="form-group">
      <input type="text" class="form-control mb-4" placeholder="Search" [(ngModel)]="query" id="listSearch">
    </div>
    <table class="table">
      <thead>
        <tr>
          <td id="tour-table">Title</td>
          <td>Name</td>
          <td>Surname</td>
          <td>Contact Number</td>
          <td>Email Address</td>
          <td></td>

        </tr>
      <tbody>
          <tr *ngFor="let client of clients   | Gfilter: query">
            <td>{{client.Title}}</td>
            <td>{{client.Name}}</td>
            <td>{{client.Surname}}</td>
            <td>{{client.Contact_Number}}</td>
            <td>{{client.Email_Address}}</td>
            <td>
              <button class="btn-two blue small hint" (click)="Transfer(client.Name,client.Surname)"  [routerLink]="['../ViewClientSession/',client.Client_ID]" routerLinkActive="active" routerLinkActive="active"  >Client Sessions</button>
                <div class="hide">View this clients session details</div>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
