<div class="app top">

<div class="container-fluid">
    <div class="row">
      <div class="col-2 bg">
        <h1 class="h1 title">
          <div class="btn-group"  (click)=" goBack()">
              <button  class="btn btn-light bui" >Back</button>
          </div>
        </h1>
      </div>
      <div class="col-8 bg">
        <h1 class="h1 title"  align="center">
          Questions
        </h1>
      </div>

      <div class="col-2 bg">
          <div class="hint">
            <button type="button" class="btn"><i class="fa fa-question" style="color: #297bff"></i></button>
          </div>
            <div class="hide">Maintain questions</div>
      
          <button type="button" class="btn"><a class="help" href="https://scotty-crypto.github.io/522Adminsubsystem.html#QuestionsBank " target="_blank">| Help</a></button>
      </div>
    </div>
    <hr class="hr1">
  </div>

  <div class="table-card">
    
    <div>
      <button  (click)="AddType()" style="color:white" class="btn-gradient blue mini" >Add Question</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <td></td>
          <td>Question Description</td>
          <td></td>
        </tr>
      <tbody>
        <tr *ngFor="let question of QuestionsBank">
          <td>{{question.Question_ID}}</td>
          <td>{{question.Question}}</td>
          <td><button (click)="Maintain(question.Question_ID,question.Question)"  class="btn-gradient blue mini" style="color:white" >Maintain</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>