
<div class="app">

  <div class="table-card">

    <h1 class="h1 title">
      <i class="fas fa-home"></i>
      <span> Questionnaire Types</span>
    </h1>
    <div class="form-group">
      <input type="text" class="form-control mb-4" placeholder="Search" [(ngModel)]="query" id="listSearch">
    </div>

    <div>
      <button  (click)="AddType()"   class="btn-gradient blue mini">Add  Questionnaire Type</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <td> Questionnaire Type Description</td>
          <td>Action</td>

        </tr>
      <tbody>
          <tr *ngFor="let type of  QuestionnaireTypes | filter: query">
            <td>{{type.Description}}</td>

            <td>
              <button  class="btn-gradient blue mini" (click)="Maintain(type.Description, type.QuestionnaireType_ID)"  >Maintain</button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>