
<div id="registration" class="conatiner col-md-12">
  <form id="regForm" [formGroup]="PurchaseForm">
    <mat-horizontal-stepper #stepper  class="conatiner" >
      <mat-step formGroupName="ChoosePackageDetails"
        [stepControl]="PurchaseForm.get('ChoosePackageDetails')">
        <ng-template matStepLabel style="color: blue;">Package selections</ng-template>
        <app-ViewPackages [regForm]="PurchaseForm"></app-ViewPackages>
      </mat-step>
      <mat-step formGroupName="PurchaseDetails"
      [stepControl]="PurchaseForm.get('PurchaseDetails')">
        <ng-template matStepLabel class="lbl">Purchase confirmation</ng-template>
        <app-FinalPurchase [regForm]="PurchaseForm"></app-FinalPurchase>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel class="lbl">Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button >Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>